@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100vh;
  width: 100%;
  min-height: 1100px;
  background-color: #faf9f6;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* navigation */
nav {
  padding: 20px 30px;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}
.button-toggle{
  margin: auto 30px;
}

/* main */
main {
  min-height: 1000px;
  height: 90vh;
  width: 100vw;
  max-width: 780px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 24px;
}

.home-info h1 {
  color: black;
  font-size: 34px;
}

.about-me ul li {
  color: rgb(65, 65, 65);
  list-style: none;
  margin-top: 5px;
}

.about-me ul li a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.blog {
  color: rgb(65, 65, 65);
  line-height: 22px;
}
.links {
  margin-top: 20px;
}

.links a {
  text-decoration: none;
  margin-right: 15px;
}

a:hover {
  cursor: pointer;
}

/* button */
.btn {
  border: none;
  background: transparent;
}
.btn:hover {
  cursor: pointer;
}

/* projects */
.projects{
  margin-top: 50px;
  width: 100%;
}
.project-container{
  margin-top: 10px;
  border-radius: 10px;
  height: 500px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(2px);
  transition: all 0.3s ease-in-out;

}

.project-container a{
  text-decoration: none;
  color: black;
}

.project-container:hover{
  transition: all 0.3s ease-in-out;
  filter: none;
}



.construction-icon{
  height: 20px;
  width: 20px;
}

/* footer */

footer{
  width: 100%;
  color: #000;
  text-align: center;
}
footer p{
  font-size: 14px;
  text-decoration: underline;
}

/* smooth transition */
body,
.home-info,
.f-h1,
a,
p,
img {
  transition: all 0.2s ease-in-out;
}

/* responsive */

@media (max-width: 768px) {
  nav {
    height: 100%;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  main {
    padding: 18px;
  }
  .home-info h1 {
    font-size: 30px;
  }
  .projects h1{
    font-size: 30px;
  }
  .project-container{
    height: 400px;
  }

  .project-container h1{
    font-size: 22px;
    padding: 20px;
  }
  .blog {
    /* color: rgb(65, 65, 65); */
    line-height: 23px;
    padding: 0;
  }
}



/* scrollbar */
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: var(--scollbar-bg, white);
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb{
  background: var(--scrollbar-thumb, #1a1a1a);
  border-radius: 10px;
}
